{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Gestion des comptes {% endblock %}
{% block contenu %}
<h1>Liste des comptes</h1>
{% if model.error is not empty %} 
    <div class="alert alert-{{ (model.error.status==1)?'danger':'success' }}">
        {{ model.error.text }}
    </div>
{% endif %}
{% if model.accounts is empty %}
    Il n'y a aucune donnée.
{% else %}
<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <td scope="col">Identifiant</td>
                <td scope="col">Nom</td>
                <td scope="col">Prénom</td>
                <td scope="col">Email</td>
                <td scope="col">Actions</td>
            </tr>
        </thead>
        <tbody>
    {% for account in model.accounts %}
        <tr>
            <td>{{ account.Id }}</td>
            <td>{{ account.Name }}</td>
            <td>{{ account.Firstname }}</td>
            <td>{{ account.Email }}</td>
            <td>
                <a href="index.php?page=accountUpdate&id={{ account.Id }}" class="btn btn-warning" aria-pressed="true" aria-disabled="true"><i class="fa fa-edit"></i></a>
                <a href="index.php?page=account&deleted={{ account.Id }}" class="btn btn-danger" aria-pressed="true"><i class="fa fa-trash text-light"></i></a>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
{% block style %}{% endblock %}