{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Ajouter un compte {% endblock %}
{% block contenu %}
<h1>Ajouter un compte</h1>
{% if model.error is not empty %} 
    <div class="alert alert-{{ (model.error.status==1)?'danger':'success' }}">
        {{ model.error.text }}
    </div>
{% endif %}
<form action="index.php?page=accountInsert" method="POST">
    <div class="form-group">
        <label for="name">Nom:</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Nom..." required/>
    </div>
    <div class="form-group">
        <label for="firstname">Prénom:</label>
        <input type="text" class="form-control" name="firstname" id="firstname" placeholder="Prénom..." required/>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="Adresse email..." required/>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Mot de passe..." required/>
    </div>
    <div class="form-group">
        <button class="btn btn-block btn-primary">Ajouter</button>
    </div>
</form>
{% endblock %}
{% block style %}{% endblock %}