{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Modifier un compte {% endblock %}
{% block contenu %}
    <h1>Modifier un compte</h1>
    {% if model.error is not empty %} 
        <div class="alert alert-{{ (model.error.status==1)?'danger':'success' }}">
            {{ model.error.text }}
        </div>
    {% else %}
        <form action="index.php?page=accountUpdate&id={{ get.id }}" method="POST">
            <div class="form-group">
                <label for="name">Nom:</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Nom..." required value="{{ model.account.Name }}"/>
            </div>
            <div class="form-group">
                <label for="firstname">Prénom:</label>
                <input type="text" class="form-control" name="firstname" id="firstname" placeholder="Prénom..." required value="{{ model.account.Firstname }}"/>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Adresse email..." required value="{{ model.account.Email }}"/>
            </div>
            <div class="form-group">
                <button class="btn btn-block btn-primary">Modifier</button>
            </div>
        </form>
    {% endif %}
{% endblock %}
{% block style %}{% endblock %}