{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Ajouter un compte {% endblock %}
{% block contenu %}
<h1>Ajouter un coupon à un compte</h1>
{% if model.error is not empty %} 
    <div class="alert alert-{{ (model.error.status==1)?'danger':'success' }}">
        {{ model.error.text }}
    </div>
{% endif %}
<form action="index.php?page=accountcoupon" method="POST">
    <div class="form-group">
        <label for="account">Compte:</label>
        <select class="form-control" name="account" id="account" required>
        {% for account in model.accounts %}
            <option value="{{ account.Id }}">{{ "#{account.Firstname} #{account.Name}" }} </option>
        {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="coupon">Coupon:</label>
        <select class="form-control" name="coupon" id="coupon" required>
        {% for coupon in model.coupons %}
            <option value="{{ coupon.Id }}">{{ "#{coupon.Libelle}" }} </option>
        {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <button class="btn btn-block btn-warning">Ajouter</button>
    </div>
</form>
<h1>Liste</h1>
{% if model.accountcoupons is empty %}
    Il n'y a aucune donnée.
{% else %}
<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <td scope="col">Identifiant</td>
                <td scope="col">Compte</td>
                <td scope="col">Coupon</td>
                <td scope="col">Actions</td>
            </tr>
        </thead>
        <tbody>
    {% for accountcoupon in model.accountcoupons %}
        <tr>
            <td>{{ accountcoupon.Id }}</td>
            <td>{{ accountcoupon.Name }}</td>
            <td>{{ accountcoupon.Libelle }}</td>
            <td>
                <a href="index.php?page=accountcoupon&deleted={{ accountcoupon.Id }}" class="btn btn-danger" aria-pressed="true"><i class="fa fa-trash text-light"></i></a>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
{% block style %}{% endblock %}