{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Ajouter un compte {% endblock %}
{% block contenu %}
<h1>Lier un coupon et un QR code</h1>
{% if model.error is not empty %} 
    <div class="alert alert-{{ (model.error.status==1)?'danger':'success' }}">
        {{ model.error.text }}
    </div>
{% endif %}
<form action="index.php?page=couponqrcode" method="POST">
    <div class="form-group">
        <label for="qrcode">QR Code:</label>
        <select class="form-control" name="qrcode" id="qrcode" required>
        {% for qrcode in model.qrcodes %}
            <option value="{{ qrcode.Id }}">{{ "#{qrcode.Code}" }}</option>
        {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="coupon">Coupon:</label>
        <select class="form-control" name="coupon" id="coupon" required>
        {% for coupon in model.coupons %}
            <option value="{{ coupon.Id }}">{{ "#{coupon.Libelle}" }}</option>
        {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <button class="btn btn-block btn-warning">Ajouter</button>
    </div>
</form>
<h1>Liste</h1>
{% if model.couponqrcodes is empty %}
    Il n'y a aucune donnée.
{% else %}
<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <td scope="col">Identifiant</td>
                <td scope="col">QR Code</td>
                <td scope="col">Coupon</td>
                <td scope="col">Actions</td>
            </tr>
        </thead>
        <tbody>
    {% for couponqrcode in model.couponqrcodes %}
        <tr>
            <td>{{ couponqrcode.Id }}</td>
            <td>{{ couponqrcode.Code }}</td>
            <td>{{ couponqrcode.Libelle }}</td>
            <td>
                <a href="index.php?page=couponqrcode&deleted={{ couponqrcode.Id }}" class="btn btn-danger" aria-pressed="true"><i class="fa fa-trash text-light"></i></a>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
{% block style %}{% endblock %}