{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Gestion des coupons {% endblock %}
{% block contenu %}
<h1>Liste des coupons</h1>
{% if model.error is not empty %} 
    <div class="alert alert-{{ (model.error.status==1)?'danger':'success' }}">
        {{ model.error.text }}
    </div>
{% endif %}
{% if model.coupons is empty %}
    Il n'y a aucune donnée.
{% else %}
<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <td scope="col">Identifiant</td>
                <td scope="col">Libelle</td>
                <td scope="col">Description</td>
                <td scope="col">Date d'expiration</td>
                <td scope="col">Actions</td>
            </tr>
        </thead>
        <tbody>
    {% for coupon in model.coupons %}
        <tr>
            <td>{{ coupon.Id }}</td>
            <td>{{ coupon.Libelle }}</td>
            <td>{{ coupon.Description }}</td>
            <td>{{ coupon.Expiration|date('d/m/Y') }}</td>
            <td>
                <a href="index.php?page=couponUpdate&id={{ coupon.Id }}" class="btn btn-warning" aria-pressed="true" aria-disabled="true"><i class="fa fa-edit"></i></a>
                <a href="index.php?page=coupon&deleted={{ coupon.Id }}" class="btn btn-danger" aria-pressed="true"><i class="fa fa-trash text-light"></i></a>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
{% block style %}{% endblock %}