{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Ajouter un coupon {% endblock %}
{% block contenu %}
<h1>Ajouter un coupon</h1>
{% if model.error is not empty %} 
    <div class="alert alert-{{ (model.error.status==1)?'danger':'success' }}">
        {{ model.error.text }}
    </div>
{% endif %}
<form action="index.php?page=couponInsert" method="POST">
    <div class="form-group">
        <label for="libelle">Libelle:</label>
        <input type="text" class="form-control" name="libelle" id="libelle" placeholder="Libelle..." required/>
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" class="form-control" name="description" id="description" placeholder="Description..." required/>
    </div>
    <div class="form-group">
        <label for="date">Date d'expiration:</label>
        <input type="date" class="form-control" name="date" id="date" placeholder="Date d'expiration..." required/>
    </div>
    <div class="form-group">
        <label for="colorcode">Code couleur:</label>
        <input type="color" class="form-control" name="colorcode" id="colorcode" required/>
    </div>
    <div class="form-group">
        <button class="btn btn-block btn-danger">Ajouter</button>
    </div>
</form>
{% endblock %}
{% block style %}{% endblock %}