{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Modifier un coupon {% endblock %}
{% block contenu %}
    <h1>Modifier un coupon</h1>
    {% if model.error is not empty %} 
        <div class="alert alert-{{ (model.error.status==1)?'danger':'success' }}">
            {{ model.error.text }}
        </div>
    {% else %}
        <form action="index.php?page=couponUpdate&id={{ get.id }}" method="POST">
            <div class="form-group">
                <label for="libelle">Libelle:</label>
                <input type="text" class="form-control" name="libelle" id="libelle" placeholder="Libelle..." required value="{{ model.coupon.Libelle }}"/>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" class="form-control" name="description" id="description" placeholder="Description..." required value="{{ model.coupon.Description }}"/>
            </div>
            <div class="form-group">
                <label for="date">Date d'expiration:</label>
                <input type="date" class="form-control" name="date" id="date" placeholder="Date d'expiration..." required value="{{ model.coupon.Expiration }}"/>
            </div>
            <div class="form-group">
                <button class="btn btn-block btn-danger">Modifier</button>
            </div>
        </form>
    {% endif %}
{% endblock %}
{% block style %}{% endblock %}