{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Gestion des QR Codes {% endblock %}
{% block contenu %}
<h1>Liste des QR Code</h1>
{% if model.error is not empty %} 
    <div class="alert alert-{{ (model.error.status==1)?'danger':'success' }}">
        {{ model.error.text }}
    </div>
{% endif %}
{% if model.qrcodes is empty %}
    Il n'y a aucune donnée.
{% else %}
<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <td scope="col">Identifiant</td>
                <td scope="col">Code</td>
                <td scope="col">Image</td>
                <td scope="col">Activé</td>
                <td scope="col">Actions</td>
            </tr>
        </thead>
        <tbody>
    {% for qrcode in model.qrcodes %}
        <tr>
            <td>{{ qrcode.Id }}</td>
            <td>{{ qrcode.Code }}</td>
            <td>
            <a target="_blank" href="https://chart.googleapis.com/chart?cht=qr&chs=500x500&chl={{ qrcode.Id }}&choe=UTF-8">
                <img src="https://chart.googleapis.com/chart?cht=qr&chs=40x40&chl={{ qrcode.Id }}&choe=UTF-8"/>
            </a>
            </td>
            <td>{{ (qrcode.Enable==1)?'oui':'non' }}</td>
            <td>
                <a href="index.php?page=qrcodeUpdate&id={{ qrcode.Id }}" class="btn btn-warning" aria-pressed="true" aria-disabled="true"><i class="fa fa-edit"></i></a>
                <a href="index.php?page=qrcode&deleted={{ qrcode.Id }}" class="btn btn-danger" aria-pressed="true"><i class="fa fa-trash text-light"></i></a>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
{% block style %}{% endblock %}