{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Ajouter un QR Code {% endblock %}
{% block contenu %}
<h1>Ajouter un QR Code</h1>
{% if model.error is not empty %} 
    <div class="alert alert-{{ (model.error.status==1)?'danger':'success' }}">
        {{ model.error.text }}
    </div>
{% endif %}
<a href="index.php?page=qrcodeInsert&random=true" class="btn btn-block btn-dark text-light">Générer un QR code aléatoire</a>
<hr />
<form action="index.php?page=qrcodeInsert" method="POST">
    <div class="form-group">
        <label for="code">Code:</label>
        <input type="text" class="form-control" name="code" id="code" placeholder="Code..." minlength="6" maxlength="6" required/>
    </div>
    <div class="form-group">
        <button class="btn btn-block btn-success">Ajouter</button>
    </div>
</form>

{% endblock %}
{% block style %}{% endblock %}