{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Modifier un QR Code {% endblock %}
{% block contenu %}
    <h1>Modifier un QR Code</h1>
    {% if model.error is not empty %} 
        <div class="alert alert-{{ (model.error.status==1)?'danger':'success' }}">
            {{ model.error.text }}
        </div>
    {% else %}
        <a href="index.php?page=qrcodeUpdate&id={{ get.id }}&random=true" class="btn btn-block btn-dark text-light">Générer un QR code aléatoire</a>
        <hr />
        <form action="index.php?page=qrcodeUpdate&id={{ get.id }}" method="POST">
            <div class="form-group">
                <label for="code">Code:</label>
                <input type="text" class="form-control" name="code" id="code" placeholder="Code..." minlength="6" maxlength="6" required value="{{ model.qrcode.Code }}"/>
            </div>
            <div class="form-group">
                <button class="btn btn-block btn-success">Modifier</button>
            </div>
        </form>
    {%  endif %}
{% endblock %}
{% block style %}{% endblock %}