<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"                  content="width=device-width, initial-scale=1">
        <title>MSPR1 - {% block title %}{% endblock %}</title>
        <link rel="icon" type="image/png" href="img/favicon.png" />
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
        <link href="css/style.css" rel="stylesheet">
        {% block style %} {% endblock %}
    </head>    
    <body>
        {% block body %}
            {% if session.id is defined %}
                <div class="vertical-nav bg-white" id="sidebar">
                    <a href="index.php" class="nav-link">
                        <div class="py-4 px-3 mb-4">
                            <div class="media d-flex align-items-center text-center">
                                <div class="media-body">
                                    <h4 class="m-0 text-dark">MSPR1</h4>
                                    <p class="font-weight-light text-muted mb-0">Plateforme Web</p>
                                </div>
                            </div>
                        </div> 
                    </a>

                    <p class="text-gray font-weight-bold text-uppercase px-3 small mb-0">Comptes</p>
                    <ul class="nav flex-column bg-white mb-3">
                        <li class="nav-item">
                            <a href="index.php?page=account" class="nav-link text-dark font-italic">
                                <i class="fa fa-child mr-3 text-primary fa-fw"></i>
                                Gestion des comptes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="index.php?page=accountInsert" class="nav-link text-dark font-italic">
                                <i class="fa fa-plus mr-3 text-primary fa-fw"></i>
                                Ajouter un compte
                            </a>
                        </li>
                    </ul>

                    <p class="text-gray font-weight-bold text-uppercase px-3 small mb-0">Coupons</p>
                    <ul class="nav flex-column bg-white mb-3">
                        <li class="nav-item">
                            <a href="index.php?page=coupon" class="nav-link text-dark font-italic">
                                <i class="fa fa-tags mr-3 text-danger fa-fw"></i>
                                Gestion des coupons
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="index.php?page=couponInsert" class="nav-link text-dark font-italic">
                                <i class="fa fa-plus mr-3 text-danger fa-fw"></i>
                                Ajouter un coupon
                            </a>
                        </li>
                    </ul>

                    <p class="text-gray font-weight-bold text-uppercase px-3 small mb-0">QR Codes</p>
                    <ul class="nav flex-column bg-white mb-3">
                        <li class="nav-item">
                            <a href="index.php?page=qrcode" class="nav-link text-dark font-italic">
                                <i class="fa fa-qrcode mr-3 text-success fa-fw"></i>
                                Gestion des QR Codes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="index.php?page=qrcodeInsert" class="nav-link text-dark font-italic">
                                <i class="fa fa-plus mr-3 text-success fa-fw"></i>
                                Ajouter un QR Code
                            </a>
                        </li>
                    </ul>

                    <p class="text-gray font-weight-bold text-uppercase px-3 small mb-0">Liaisons</p>
                    <ul class="nav flex-column bg-white mb-3">
                        <li class="nav-item">
                            <a href="index.php?page=accountcoupon" class="nav-link text-dark font-italic">
                                <i class="fa fa-angle-double-right mr-3 text-warning fa-fw"></i>
                                Comptes / Coupons
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="index.php?page=couponqrcode" class="nav-link text-dark font-italic">
                                <i class="fa fa-angle-double-right mr-3 text-warning fa-fw"></i>
                                Coupons / QR Code
                            </a>
                        </li>
                    </ul>

                    <p class="text-gray font-weight-bold text-uppercase px-3 small mb-0">Autre</p>
                    <ul class="nav flex-column bg-white mb-3">
                        <li class="nav-item">
                            <a href="index.php?page=logout" class="nav-link text-dark font-italic">
                                <i class="fa fa-power-off mr-3 text-dark fa-fw"></i>
                                Déconnexion
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="page-content p-5" id="content">
                {% endif %}
                {% block contenu %}

                {% endblock %}
                {% if session.id is defined %}
                </div>
            {% endif %}

        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
        <script src="js/script.js"></script>
    </body>
</html>
