{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Accueil {% endblock %}
{% block contenu %}
    <div class="">
        <div class="box-index get">
            <h3>GET</h3>
            <a class="see-more">
                <i class="fa fa-caret-down"></i>
                <span class="font-weight-bold">/api/?token={accountId}</span>
                Get all coupon by account id.
            </a>
            <div class="d-none box-details mt-3" id="box-index-1">
                Parameters:
                <ul>
                    <li>accountId (string)</li>
                </ul>
                Return:
                <ul>
                    <li>status (integer)</li>
                    <li>text (string)</li>
                    <li>coupons (List of coupon)</li>
                </ul>
            </div>
        </div>
        <div class="box-index post">
            <h3>POST</h3>
            <a class="see-more">
                <i class="fa fa-caret-down"></i>
                <span class="font-weight-bold">/api</span>
                Login
            </a>
            <div class="d-none box-details mt-3" id="box-index-2">
                Parameters:
                <ul>
                    <li>email (string)</li>
                    <li>password (string)</li>
                </ul>
                Return:
                <ul>
                    <li>status (integer)</li>
                    <li>text (string)</li>
                    <li>Account if login success (account)</li>
                </ul>
            </div>
        </div>
        <div class="box-index post">
            <h3>POST</h3>
            <a class="see-more">
                <i class="fa fa-caret-down"></i>
                <span class="font-weight-bold">/api</span>
                Registration
            </a>
            <div class="d-none box-details mt-3" id="box-index-3">
                Parameters:
                <ul>
                    <li>name (string)</li>
                    <li>firstname (string)</li>
                    <li>email (string)</li>
                    <li>password (string)</li>
                </ul>
                Return:
                <ul>
                    <li>status (integer)</li>
                    <li>text (string)</li>
                    <li>Account if register success (account)</li>
                </ul>
            </div>
        </div>
        <div class="box-index post">
            <h3>POST</h3>
            <a class="see-more">
                <i class="fa fa-caret-down"></i>
                <span class="font-weight-bold">/api</span>
                Update an account
            </a>
            <div class="d-none box-details mt-3" id="box-index-4">
                Parameters:
                <ul>
                    <li>account id (string)</li>
                    <li>name (string)</li>
                    <li>firstname (string)</li>
                    <li>email (string)</li>
                </ul>
                Return:
                <ul>
                    <li>status (integer)</li>
                    <li>text (string)</li>
                    <li>Account if update success (account)</li>
                </ul>
            </div>
        </div>
        <div class="box-index post">
            <h3>POST</h3>
            <a class="see-more">
                <i class="fa fa-caret-down"></i>
                <span class="font-weight-bold">/api</span>
                Send a QR Code
            </a>
            <div class="d-none box-details mt-3" id="box-index-5">
                Parameters:
                <ul>
                    <li>token/account id (string)</li>
                    <li>qr code (string)</li>
                </ul>
                Return:
                <ul>
                    <li>status (integer)</li>
                    <li>text (string)</li>
                    <li>coupons (List of coupon)</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block style %}{% endblock %}
