{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Login {% endblock %}
{% block contenu %}
<div class="p-2 col-lg-6 col-sm-12 mx-auto">
    <h1>Log in</h1>
    {% if model.error is not empty %} 
        <div class="box-danger">
            {{ model.error }}
        </div>
    {% endif %}
    <div class="p-2">
        <form action="index.php?page=login" method="POST">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Adresse email..." required/>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Mot de passe..." required/>
            </div>
            <div class="form-group">
                <button class="btn btn-block btn-primary">Connexion</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block style %}{% endblock %}
