@font-face {
    font-family: Ubuntu-Regular;
    src: url('../fonts/ubuntu/Ubuntu-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Ubuntu-Bold;
    src: url('../fonts/ubuntu/Ubuntu-Bold.ttf'); 
  }
  
  @font-face {
    font-family: JosefinSans-Bold;
    src: url('../fonts/JosefinSans/JosefinSans-Bold.ttf'); 
  }
  

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Ubuntu-Regular, sans-serif;
}

.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
}

.box-index {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.box-index > h3 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  width: 70px;
  border-radius: 5px;
}

.get > h3 {
    background: rgb(29, 84, 154);
}

.post > h3 {
    background: rgba(24, 131, 48, 1);
}

.get {
    background: rgb(31, 125, 187);
}

.post {
    background: rgb(45, 162, 67);
}

p {
    margin: 0;
    padding: 0;
}